{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="simon says">
<meta name="keywords" content="simon says">
<meta name="author" content="Simon Bhattacharya">

<meta property="og:title" content="simon-says... blah blah blah ... st .anger. PROTOTYPE Симон-говорит .."/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.simonsays.tk/about/" />
<meta property="og:image" content="http://www.simonsays.tk/static/pics/susu.jpg" />
<meta property="fb:app_id" content="193019057507918" />
<meta property="og:site_name" content="simon says"/>
<meta property="author" content="https://www.facebook.com/simonbhatta4ya" />


<title>about</title>
<link rel="shortcut icon" href="{% static "pics/_hulk.ico" %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet'>
</head>
<body>
	<div class="abt">
<br><br><br>
<em>About</em>
<br><br>
<i>CREATIVE FORCE at WORK</i>
<br><br><br>
Beautiful, practical, meaningful stuff. I make what I love. I ❤ what I do. <br>
For the makers, the creators, the discoverers, the original thinkers <a href="http://www.algby-inc.tk/" target="_blank">algby</a> is the space to create. <br>
My obsession to build beautiful & meaningful <a href="http://www.github.com/simbha/" target="_blank" style="color: #85C226">projects</a> drives me forward every single day. <a href="http://www.algby-inc.tk/" target="_blank">algby</a> a is a creative & collaborative playground of designers and developers full packed with experience gained from studios ironically in <a href="http://en.wikipedia.org/wiki/India" target="_blank">India.</a> <br>
<a href="http://www.algby-inc.tk/" target="_blank">algby</a> Established HQ(got its foot-hold) near <a href="http://en.wikipedia.org/wiki/Mumbai" target="_blank">The City of Dreams Mumbai</a> is a small town & industrial HUB <a href="http://en.wikipedia.org/wiki/Bhiwandi" target="_blank">Bhiwandi</a>, best known for its textile industry. was founded by The Heart Break Kid.. The Show Stopper.. <a href="https://plus.google.com/u/0/104791518208578690600/about" style="color: #85C226" target="_blank">Simon Bhattacharya.</a> <br>
I keep things simple.Driven by the thought that collaborative & collective work gets the best results I believe in partnership with my clients. Every great project needs strong ideas and clients need inspiring people who can advise them about strategies and new movements in the creative world. <br>
It’s a pleasure for me to share my passion with you. Therefore I am delighted that you found your way to my portfolio. Visit my projects page and enjoy my pool of ideas, styles, showcase and artistic outpourings. Great design and projects last forever! <br>
My goal is simple; to create excellent websites that make your business shine and our egos soar. We're small enough to take real pride in each and every job I do, yet agile enough to take on projects of all sizes. 'Bring it', as they say in those terrible films. <br><br>
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/qhFSk6SofgM?rel=0" frameborder="0" allowfullscreen></iframe> <br><br>
<img src="{% static 'pics/susu.jpg' %}"/>

<p style="font-family: Papyrus, fantasy; color: orange">
	Powered by: <a href="https://www.fb.com/returnofthedevil" target="_blank" class="vip">Simon </a> <img src="{% static 'pics/favicon.ico' %}"/> <a href="https://www.fb.com/simonbhatta4ya" target="_blank" class="vip"> Bhattacharya.</a> Made with IronClaw!!!</p>
<br><br>
<!--<a href="http://www.algby.tk/">Home</a>-->
	</div>
</body>
</html>
