{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="simon-says ... st.anger blah blah blah ... hahahaha he hoho hey hey hey.">
<meta name="keywords" content="simon's contacts">
<meta name="author" content="Simon Bhattacharya">
<meta name="robots" content="Index,NoFollow">


<meta property="og:title" content="simon-says... contacts"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.simonsays.tk/" />
<meta property="og:image" content="http://www.simonsays.tk/static/pics/get-beer.jpg" />
<meta property="fb:app_id" content="193019057507918" />
<meta property="og:site_name" content="simon says"/>
<meta property="author" content="https://www.facebook.com/simonbhatta4ya" />



<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link rel="shortcut icon" href="{% static "pics/hercules-bolt.ico" %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


<title>contacts</title>




		<section class="row">
		  <div class="col-md-6">

			  <div class="introHeader">

				</div>

		  </div>
 		</section>

	<h1>/ˈpärˌlā,ˈpärˌlē/</h1>

<br><br>
<img src="{% static 'pics/get-beer.jpg' %}"/>
<br><br>
<center>
	<div class=container>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="H8G4SCNGH7AGY" />
			<table>
				<tr><td><input type="hidden" name="on0" value="getit!!!" />getit!!!</td></tr><tr><td><select name="os0">
					<option value="Option 1" />Option 1 $500.00 USD
					<option value="Option 2" />Option 2 $1,000.00 USD
					<option value="Option 3" />Option 3 $5,000.00 USD
					<option value="Option 4" />Option 4 $10,000.00 USD
				</select> </td></tr>
			</table>
			<input type="hidden" name="currency_code" value="USD" />
			<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." />
			<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</div>
</center>
<br><br>
<center>
<div>
	<center>
		<div>
			<h5>SAY <em><b>WHAT NOW</b>buy me some BEARS...</em> </h5>:<h1> hi@simonsays.tk</h1><br><br>
			<iframe src="https://www.google.com/maps/d/embed?mid=zQXfHpcALfss.knCoisXgYQn8" width="640" height="480"></iframe><br>
			+919689658324<br>
			+917387338828<br>
			hi@simonsays.tk<br><br>
		</div>
	</center>
</div>
</center>


<p style="font-family: Papyrus, fantasy; color: orange">
	Powered by: <a href="https://www.fb.com/returnofthedevil" target="_blank" class="vip">Simon </a> <img src="{% static 'pics/favicon.ico' %}"/> <a href="https://www.fb.com/simonbhatta4ya" target="_blank" class="vip"> Bhattacharya.</a> Made with IronClaw!!!</p>
<br><br>
<!--<a href="http://www.simonsays.tk/">Home</a>-->
</div>
</body>
</html>
