{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="dmca copyright policy and fair use guide">
<meta name="keywords" content="dmca, copyright policy, fair use guide">
<meta name="author" content="Simon Bhattacharya">


<meta property="og:title" content="simon-says... copyright"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.simonsays.tk/copyright/" />
<meta property="og:image" content="http://www.simonsays.tk/static/pics/nazi-falcon.jpg" />
<meta property="fb:app_id" content="193019057507918" />
<meta property="og:site_name" content="simon says"/>
<meta property="author" content="https://www.facebook.com/simonbhatta4ya" />

<title>Copyright Policy and Fair Use Guide</title>
<link rel="shortcut icon" href="{% static "pics/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}"/>

<link href='http://fonts.googleapis.com/css?family=Alegreya+SC' rel='stylesheet'>
</head>
<body>
<div class="cr">
<br><br><br>
<em>Copyright Policy and Fair Use Guide</em>
<br><br><br>
<img src="{% static 'pics/nazi-falcon.jpg' %}"/>
<br><br><br>
Copyright © algby 1982. All rights reserved. <br>
The <a href="http://www.simonsays.tk/sitemap/" target="_blank">content</a> is copyrighted to <a href="http://www.simonsays.tk/" style="color: #85C226">Simon Bhattacharya</a> and may not be reproduced on other websites. <br>
All <a href="http://www.simonsays.tk/sitemap/" target="_blank">content</a> available on this website are copyrighted to the author: <em>Simon Bhattacharya</em> unless otherwise indicated. <br>
All such rights are reserved by algby and you are and not allowed to copy, reproduce, download, publish, disseminate, display, modify, create derivative works from, sell, or otherwise transfer any materials in this website without written consent or authorization from the author. <br>
None of the materials provided on this web site may be used, reproduced or transmitted, in whole or in part, in any form or by any means, electronic or mechanical, including photocopying, recording or the use of any information storage and retrieval system.<br>
To request such permission or for further enquires, please contact via the <a href="../contact">contact</a> form. <br>
<br>
<p style="font-family: Papyrus, fantasy; color: orange">
 Powered by: <a href="https://www.fb.com/returnofthedevil" target="_blank" class="vip">Simon </a> <img src="{% static 'pics/favicon.ico' %}"/> <a href="https://www.fb.com/simonbhatta4ya" target="_blank" class="vip"> Bhattacharya.</a></p><br><br>
<!--<a href="http://www.algby.tk/">Home</a>-->
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">algby</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.algby-inc.tk/" property="cc:attributionName" rel="cc:attributionURL">Simon Bhattacharya</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.simonsays.tk/" rel="dct:source">http://www.simonsays.tk/</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://simonsays.tk/contact/" rel="cc:morePermissions">http://www.simonsays.tk/contact/</a>.
</div>
</body>
</html>
