{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="simon-says ... st.anger blah blah blah ... hahahaha he hoho hey hey hey.">
<meta name="keywords" content="simon-says">
<meta name="author" content="Simon Bhattacharya">
<meta name="robots" content="Index,Follow">
<meta name="google-site-verification" content="W1fNFpPMQa4c8yy20PQUvRTks7MRDT01FWyZD-l37co" />
<meta property="og:title" content="simon-says... blah blah blah ... st .anger. PROTOTYPE Симон-говорит .."/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.simonsays.tk/" />
<meta property="og:image" content="http://www.simonsays.tk/static/pics/simonsays.jpg" />
<meta property="fb:app_id" content="193019057507918" />
<meta property="og:site_name" content="simon says"/>
<meta property="author" content="https://www.facebook.com/simonbhatta4ya" />

<title>simon says</title>

<link rel="shortcut icon" href="{% static "pics/favicon.ico" %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<!-- STOPING LOAD-ING BOOTSTRAP
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
-->
<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
-->
<!-- Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
-->
<!-- Latest compiled and minified JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->
<link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet'>
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
<br><br>
<br><br>
<br><br>
<br><br>
<section class="importantContainer">
	<div class="container">
		<section class="row">
		  <div class="col-md-6">
			  <div class="introHeader">
					<center>
					<div>
						<center>
							<div>
								<img src="{% static 'pics/simonsays.jpg' %}"/>
							</div>
							<div class=container>
								<a class="twitter-timeline" href="https://twitter.com/SimonBhatta4ya" data-widget-id="399551338318544898">Tweets by @SimonBhatta4ya</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
						</center>
						<a href="http://www.simonsays.tk/log/" target="_blank">log</a> | <a href="http://www.simonsays.tk/lab/" target="_blank">algby</a>
					</div>
					</center>
				</div>
		  </div>
 		</section>
	</div>
</section>

<br><br>
<br><br>
<div>
	<aside>
		<div class='container'><a href="#blog">BLOG</a> | <a href="#apps">APPLICATIONS</a> | <a href="https://plus.google.com/u/0/104791518208578690600/about">IAMI</a></div>
	</aside>
</div>
<br><br>
<br><br>
<img src="{% static 'pics/_black-mamba_5522337_50x50.jpg' %}"/> <p>Powered by: <a href="https://www.fb.com/returnofthedevil" target="_blank" class="vip">Simon </a> <img src="{% static 'pics/favicon.ico' %}"/> <a href="https://www.fb.com/simonbhatta4ya" target="_blank" class="vip"> Bhattacharya.</a></p>
<br><br>
<br><br>
<br><br>

<center>
<div>
	<a href="https://cloud.google.com/appengine/docs" target="_blank"> <img alt="google app engine" src="{% static 'pics/url.gif' %}" /></a>
</div>
</center>

<br><br>

<footer class="column">
Copyright © algby 2013. All rights reserved.
The <a href="http://www.simonsays.tk/sitemap/" target="_blank">content</a> is copyrighted to <a href="https://plus.google.com/u/0/104791518208578690600/about" class="vip" target="_blank">Simon Bhattacharya</a> and may not be reproduced on other websites. <br>
<div>
	<a href="about" target="_blank">about</a> | <a href="contact" target="_blank">contact</a> | <a href="TOS" target="_blank">terms & conditions</a> | <a href="policy" target="_blank">privacy policy</a> | <a href="TOS#payments" target="_blank">refund & cancellation policies</a> | <a href="copyright" target="_blank">copyright</a> |<a href="#stats">site stats</a> | <a href="http://www.algby-inc.tk/support/" target="_blank">support</a>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</footer>
</body>
</html>
